# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.gob
*.bolt

/conf.json
/data/
/logs/
/scripts/backup-conf.json
/server/server
/pipelines/crawler/crawler
/pipelines/indexer/indexer
/pipelines/mergedocs/mergedocs
/pipelines/tocrawl/tocrawl

vendor
vendor/
vendor/**

*.db
*.bolt
*.boltdb
.env

.snippets
.snippets/
.notes
.notes/

# Created by https://www.gitignore.io/api/go

### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof

limo

# Test coverage
*.out

vendor
vendor/
vendor/**